<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div><a href="http://localhost:3000/contact/<%= id %>"></a></div>
    <div id="qrcode">

    </div>

    <script src ="/qrcodejs/qrcode.min.js"></script>

    <script>
    var qrcode = new QRCode("qrcode");
    qrcode.makeCode("<%=ip %>/contact/<%= id %>");
    </script>


</body>
</html>