<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Info</title>
</head>
<body>
  <div id="form-wrap">
        <h4>Contact Me:</h4>
        <ul>
          <li>Name:</li>
          <li>Email:</li>
          <li>Phone number: </li>
          <li>Comments:</li>
        </ul>
   </div> 
</body>
</html>